@charset "utf-8";
header, nav, main, footer, div, ul, ol, li{ margin: 0; padding: 0; border: 0;}

div{
	display: block;
} 
body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    background-color: rgb(245, 223, 77);
    height: 70px;
}

form{
	margin: 0 0 20px;
	display: block;
}
select{
	background-color: #ffffff;
	border: 1px solid #cccccc;
}
select, input[type="file"]{
	height: 30px;
	line-height: 30px
}

.content {
    width: 1250px;
    display: flex;
    margin: auto;
    justify-content: space-between;     /* 사이에 공간을 두고, 좌우로 벌려서 정렬 */
}

.left, .center, .right {
    display: flex;
  	align-items: center;
}
.logo1{
    /* color: rgb(147, 149, 151); */
    color: white;
    font-size: 30pt;
    font-weight: bold;
    cursor: pointer;
}

.logo2{
    /* color: rgb(147, 149, 151); */
    color: white;
    font-size: 12pt;
    font-weight: bold;
    cursor: pointer;
}
.logo22{
	display: flex;
	list-style: none;	
}
.logo3{
	/* color: rgb(147, 149, 151); */
	color: white;
    font-size: 15pt;
    font-weight: bold;
    cursor: pointer;
}
.container{
	margin-right: auto;
    margin-left: auto;
    width: 1250px;
}

.span16{
	width: 1250px;

}

.alert-success{
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	
}

.alert{
	padding: 8px 35px 8px 14px;
/* 	margin: 20px 0px 20px 0px; */
	text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
	border: 1px solid #fbeed5;
	border-radius: 4px;

}
.ibox{
	clear: both;
	margin-bottom: 25px;
	margin-top: 0;
	padding: 0;
}

.ibox-content{
	background-color: #e7eaec;
	color: inherit;
	padding: 15px 0 30px 0;
	border-color: #e7eaec;
	border-image: none;
	border-style: solid solid none;
	border-width: 1px 0px;
	height: 400px;
}
.ibox-content2{
	background-color: #e7eaec;
	color: inherit;
	padding: 15px 0 30px 0;
	border-color: #e7eaec;
	border-image: none;
	border-style: solid solid none;
	border-width: 1px 0px;
	height: 150px;
}
.span8{
	width: 700px;
}
.m-l-xs{
	margin-left: 20px;
}
#datepicker{
	float: left;
	margin-right: 4px;
}
.input-daterange input:first-child{
	border-radius: 3px 0 0 3px;
}
.input-daterange input:last-child{
	border-radius: 0 3px 3px 0;
}
.input-daterange input{
	text-align: center;
}
.input-daterange .add-on{
	display: inline-block;
	width: auto;
	min-width: 16px;
	height: 18px;
	padding: 4px 5px;
	font-weight: normal;
	line-height: 18px;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	vertical-align: middle;
	background-color: #eeeeee;
	border: 1px solid #ccc;
	margin-left: -5px;
	margin-right: -5px; 
}
.form-inline .checkbox {
	padding-left: 0;
	margin-bottom: 0;
	vertical-align: middle;
}
.height50{
	height: 60px
}






